---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import WhySalclor from '../components/WhySalclor.astro';
import Testimonials from '../components/Testimonials.astro';
import Services from '../components/Services.astro';
import Process from '../components/Process.astro';
import History from '../components/History.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import WhatsAppButton from '../components/WhatsAppButton.astro';
import CookieBanner from '../components/CookieBanner.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <Problem />
    <Solution />
    <WhySalclor />
    <Testimonials />
    <Services />
    <Process />
    <History />
    <Contact />
  </main>
  <Footer />
  <WhatsAppButton />
  <CookieBanner />
</Layout>
